body {
  height: 100%;
  background-color: black;
}

h1 {
  color: white;
}
p {
  color: rgb(105, 105, 225);
}

footer {
  flex: 1;
}

/* navbar toggler color change */
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.navbar-toggler {
  background-image: none;
}
.navbar-toggler:focus {
  box-shadow: none;
}

/* sections of landing page */
.left {
  height: 85vh;
  background-color: black;

  flex: 1.5;
  padding-top: 80px;
}
.right {
  background: no-repeat top/cover url(../images//cam_land2.jpeg);
  opacity: 95%;
  flex: 1;
}

/* images section */

.showcase {
  background-color: black;
}

/* hover glow */
.mycard {
  position: relative;
  overflow: hidden;
}

.mycard::before {
  background: radial-gradient(rgb(176, 174, 174), transparent, transparent);
  border-radius: inherit;
  content: "";
  height: 700px;
  left: var(--x);
  transform: translate(-50%, -50%);
  position: absolute;
  top: var(--y);
  width: 700px;
  z-index: 3;
  opacity: 0;
  transition: 0.7s, top 0s, left 0s;
}

.mycard:hover::before {
  opacity: 1;
}

/* cta button */
.cta:hover {
  background-color: rgb(8, 8, 8);
  transition: 0.5s ease-in-out;
  border: 2px solid rgb(119, 119, 253);
  font-size: 120%;
}

/* nav underline */
.nav-link:hover {
  border-bottom: 2px solid rgb(119, 119, 253);
  transition: 0.8s ease-in-out;
}

/* gallery css */
.gallery-img {
  position: relative;
}
#altText {
  position: absolute;
  left: 32%;
  top: 50%;
  background-color: rgb(105, 105, 225);
  width: 150px;
  height: 70px;
  border-radius: 50%;
  padding: 20px 10px 20px 10px;
  opacity: 0;
  z-index: 2000;
  transition: opacity 0.7s ease;
}

/* Styles for back to top button */
#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  z-index: 2200;
  background-color: rgb(59, 59, 145);
}

.row {
  padding-top: 50px;
  min-height: 50px;
  justify-content: space-between;
}
/* end gallery css */

/* form page */
.discount {
  position: absolute;
  left: 37%;
  top: 5%;
}
.relative {
  position: relative;
}
.team-form {
  height: 100% !important;
  background: url(../images/camera.jpeg) no-repeat center center fixed;
  background-size: cover;
  backdrop-filter: blur(5px);
  opacity: 91%;
}

/* about page */
.slide-image {
  width: 20%;
  height: auto;
  max-width: 200px;
}

.recommendation-container {
  margin-bottom: 10px;
  border: 1px solid #ddd;
  padding: 10px;
}
.about-container {
  height: 100vh;
}
